.input-group {
	margin-top:2%;
	margin-bottom:3%;
}

.button {
	padding:2% 5% 2% 5%;
	color:white;
	margin:0px solid #a60000;
	background:#a60000;
}

.logo-main {
	letter-spacing: 5px;
	font-size: 30px;
	text-align: center;
}

.error-div {
	color:red;
	width:100%;
	text-align:center;
	display:none;
}

.row {
	width: 100%;
	margin:0px;
	padding:0.25%;
}

.header {
	color:white;
	background:black;
}

#courses-list {
	border:1px solid #dedede;
	padding:10px;
	background:#fefefe;
}