.input-group {
	margin-top:2%;
	margin-bottom:3%;
}

.button {
	padding:2% 5% 2% 5%;
	color:white;
	margin:0px solid #a60000;
	background:#a60000;
}

.logo-main {
	letter-spacing: 5px;
	font-size: 30px;
	text-align: center;
}

.error-div {
	color:red;
	width:100%;
	text-align:center;
	display:none;
}

.row {
	width: 100%;
	margin:0px;
	padding:0.25%;
}

.header {
	color:white;
	background:black;
}

#courses-list {
	border:1px solid #dedede;
	padding:10px;
	background:#fefefe;
}

.description {
	height: 100px !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.submitStyle{
	position: fixed;
	right:20px;
	bottom: 20px;
}