.input-group {
	margin-top:2%;
	margin-bottom:3%;
}

.button {
	padding:2% 5% 2% 5%;
	color:white;
	margin:0px solid #a60000;
	background:#a60000;
}

.logo-main {
	letter-spacing: 5px;
	font-size: 30px;
	text-align: center;
}

.error-div {
	color:red;
	width:100%;
	text-align:center;
	display:none;
}

.row {
	width: 100%;
	margin:0px;
	padding:0.25%;
}

.header {
	color:white;
	background:black;
}

#courses-list {
	border:1px solid #dedede;
	padding:10px;
	background:#fefefe;
}

#assignment-main-div {
	width:70%;
	margin:auto;
}

#assignment-main-div #assignment-topic {
	font-size:30px;
}

#assignment-main-div #assignment-description {
	font-size:15px;
}

#assignment-main-div #assignment-attachments {
	font-color:blue;
}

#assignment-main-div #assignment-details {
	width:60%;
	margin:auto;
	padding:10px;
}

#assignment-main-div #assignment-details-deadline {

}

#assignment-main-div #assignment-details-graded-for {

}

#assignment-main-div #assignment-details-group-yn {

}

#assignment-main-div #assignment-details-submission-status {

}

#assignment-main-div #assignment-details .title{
	padding:5px;
	margin:10px;
	width:100%;
}

#assignment-main-div #assignment-details .value {
	padding:5px;
	width:100%;
}

#assignment-main-div #team-members {

}

#assignment-main-div #submission-files {

}

#overlay {
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(155, 155, 155, 0.75);
	top:0px;
	left:0px;
	display:none;
	padding:5%;
}

#add_course_div {
	width : 50%;
	margin : auto;
	margin-top : 10%;
	border : 1px solid #eee;
	background : white;
	border-radius : 20px;
	padding : 3%;
	padding-top:1%;
}

.course_element {
	border:1px solid gray;
	padding:5px;
	margin:5px;
	cursor:pointer;
}
.course_element:hover {
	background:#eee;
}

.title_1 {
	background:#a60000;
	color:white;
	padding:5px;
	width:100%;
	text-align:center;
}