<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Submit</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/bootstrap/jquery-ui.css" rel="stylesheet">
   
    <!-- Custom styles for this template -->
    <!--link href="/static/bootstrap/base.css" rel="stylesheet"-->

    <style type="text/css" id="holderjs-style"></style>
  </head>

  <body>    
        <div class="row header">
            <div class='col-md-2'>
                <div class='logo-main'>SUBMIT</div>
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-1">
               Welcome, <span id="user-name-welcome"></span>
            </div>
            <div class="col-md-1">
               <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="row">
            <div class='col-md-2'>
                <div id="courses-list"></div>
            </div>
            <div class="col-md-10">
                <div id="assignment-main-div">
                    <div id="assignment-topic"></div>
                    <div id="assignment-description"></div>
                    <div id="assignment-attachments"></div>
                    <div id="assignment-details">
                        <table>
                            <tr>
                                <td><div class='title'>Deadline</div></td>
                                <td><div id="assignment-details-deadline"><div class='value'></div></div></td>
                            </tr>
                            <tr>
                                <td><div class='title'>Graded for</div></td>
                                <td><div id="assignment-details-graded-for"><div class='value'></div></div></td>
                            </tr>
                            <tr>
                                <td><div class='title'>Group?</div></td>
                                <td><div id="assignment-details-group-yn"><div class='value'></div></div></td>
                            </tr>
                            <tr>
                                <td><div class='title'>Submission status</div></td>
                                <td><div id="assignment-details-submission-status"><div class='value'></div></div></td>
                            </tr>
                    </div>
                </div>
                <div id="team-members"></div>
                <div id="submission-files"></div>
                <div id="discussion-forum"></div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/static/lib/jquery-1.12.1.min.js"></script>
    <script src="/static/bootstrap/bootstrap.min.js"></script>
    <script src="/static/lib/jquery-ui.js"></script>
    <script src="/static/js/script.js"></script>

    <script src="/static/js/assignment.js"></script>
  
 </body>
 
</html>
